nav {
  /* background-color: var(--color-primary-light); */
  box-shadow: 2px 2px 20px solid rgba(59, 59, 59, 0.432);
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 2px 2px 20px rgba(110, 110, 110, 0.349);
  background-color: white;
  z-index: 9999999999; */
}

.nav__links {
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.nav__links > *:not(:last-child) {
  margin-right: 2rem;
}
.cart {
  position: relative;
}
.cart:before {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(233, 39, 39, 0.719);
}
