.img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}
.product {
  overflow: hidden;
  border-radius: 5px;
}

.info > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.headingQuartary {
  text-transform: capitalize;
}
