@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
:root {
  --color-primary-light: #edf6e5;
  --color-primary-light-op: #edf6e567;
  --color-primary: rgb(181, 234, 234);
  --color-primary-op: rgba(181, 234, 234, 0.349);

  --color-dark: #1d2d50;

  --color-secondary: rgb(255, 188, 188);
  --color-secondary-op: rgba(255, 188, 188, 0.425);
  --color-secondary-dark: #f38ba0;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

body {
  font-size: 1.8rem;
  text-rendering: optimizeLegibility;
  color: var(--color-dark);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
}

.section {
  /* display: flex;
  justify-content: center; */
  padding: 10rem 2rem;
  width: 100%;
}

.section h2 {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}
